    </div>
    
<footer class="main-footer">

    <div class="vertical-container">

        <div class="wrapper">

            <p class="copy">&copy; Patrick KAlkman 2015 - All Rights Reserved</p>

            <ul class="social">
                <li><a href="https://twitter.com/@SimpleTechture">Twitter</a></li>
                <li><a href="https://github.com/SimpleTechture">GitHub</a></li>
                <li><a href="https://nl.linkedin.com/in/pkalkman">LinkedIn</a></li>
            </ul>

        </div>

    </div>

</footer>